@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'league Spartan';
}

h1{
    font-size: 3.1rem;
    line-height: 4rem;
    color: #222;
}

h2{
    font-size: 2.8rem;
    line-height: 3.3rem;
    color: #222;
}

h4{
    font-size: 1.2rem;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 0.7rem;
}

p{
    font-size: 1rem;
    color: #465b52;
    margin: 1rem 0 1.2rem 0;
}

.section-p1{
    padding: 2.5rem 5rem;
}

.section-m1{
    margin: 2.5rem 0;
}

button.normal{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    color: #1a1a1a;
    background-color: azure;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

button.normal:hover{
    color: azure;
    background-color: #088178;
    }


button.white{        /*---for preset----*/
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.4rem 1.3rem;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

button.white:hover{
    color: azure;
    background-color: #088178;
}

body{
    width: 100%;
}

/*-------HEADER-------*/

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 5rem;
    background-color: #e3e6f3;
    box-shadow: 0 5px 1rem rgb(195, 195, 195);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 1.2rem;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,#navbar li a:hover::after{
    content: '';
    width: 30%;
    height: 2.5px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 1.2rem;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

/*----------------HOME PAGE-----------------*/

#hero{
    background-image: url(./images/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding:  0 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 1rem;
}

#hero h1{
    color: #088178;
}

.fa-solid{
    padding-left: 10px;
}

/*------------Features-Section-----------*/
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .ft-box{
    width: 11.2rem;
    text-align: center;
    padding: 1.5rem 1rem;
    box-shadow: 1.2rem 1.2rem 2rem rgb(209, 209, 209);
    border: 1px solid #088178;
    border-radius: 4px;
    margin: 1rem 0;
}

#feature .ft-box:hover{
    box-shadow: 1.2rem 1.2rem 2rem rgb(228, 228, 228);
}

#feature .ft-box img{
    width: 100%;
    margin-bottom: 0.8rem;
}

#feature .ft-box h6{
    display: inline-block;
   padding: 9px 8px 6px 8px;
   line-height: 1;
   border-radius: 4px;
   color: #088178;
   background-color: rgb(215, 231, 250);
}

#feature .ft-box:nth-child(2) h6{
    background-color: #e5bceb;
}

#feature .ft-box:nth-child(3) h6{
    background-color: #cdebbc;
}

#feature .ft-box:nth-child(4) h6{
    background-color: #bddaff;
}

#feature .ft-box:nth-child(5) h6{
    background-color: #d2bdff;
}

#feature .ft-box:nth-child(6) h6{
    background-color: antiquewhite;
}

/*----------Products - 1 ---------------*/


#product1{
    text-align: center;
}

#product1 .pro-con{
    display: flex;
    justify-content: space-between;
    padding-top: 1.2rem;
    flex-wrap: wrap;
}

#product1 .pro{
    border-radius: 1.5rem;
    width: 23%;
    min-width: 15.6rem;
    padding: 0.7rem 0.8rem;
    border: 1px solid #088178;
    cursor: pointer;
    box-shadow: 1.2rem 1.2rem 3rem rgb(231, 231, 231);
    margin: 1rem 0;
    transition: 0.3s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 1.2rem 1.2rem 3rem rgb(197, 197, 197);
}

#product1 .pro img{
    width: 100%;
    border-radius: 1.2rem;
}
#product1 .pro .des{
    text-align: start;
    padding: 0.8rem 0;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
}

#product1 .pro .des i{
    color: #ffce2c;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 1rem;
    font-weight: 700;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e9fdec;
    font-weight: 500;
    color: #088178;
    border: 1px solid #bfeec7;
    padding: 0;
    position: absolute;
    bottom: 0.9rem;
    right: 0.7rem;
}

/*------------BANNER--------------*/

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./images/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
}

#banner h4{
    color: azure;
    font-size: 1rem;
}

#banner h2{
    color: azure;
    font-size: 1.9rem;
    padding: 0.8rem 0;
}

/*---------------small banner-----------------*/
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5rem;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(./images/banner/b17.jpg);
    min-width: 40rem;
    height: 50vh;
    background-position: center;
    background-size: cover;
    padding: 30px;
}

#sm-banner h4{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 300;
}

#sm-banner h2{
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: 600;
}

span{
    padding-bottom: 1rem;
    color: #ffffff
}

#sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}

#sm-banner .banner-box2{
    background-image: url(./images/banner/b10.jpg)
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5rem;
    margin: 4rem 0;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(./images/banner/b7.jpg);
    min-width: 30%;
    height: 30vh;
    background-position: center;
    background-size: cover;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
    background-image: url(./images/banner/b4.jpg);
}

#banner3 .banner-box3{
    background-image: url(./images/banner/b18.jpg);
}

#banner3 h2{
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
}

#banner3 h3{
    color: #ec544e;
    font-weight: 600;
    font-size: 1rem;
}

/*---------newsletter----------*/

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(./images/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #0d1362;
}

#newsletter h4{
    font-size: 1.3rem;
    font-weight: 600;
    color: azure;
}

#newsletter p{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(161, 155, 199);
}

#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 2.5rem;
    padding: 0 1rem;
    font-size: 0.8rem;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #088178;
    color: azure;
    height: 2.54rem;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*--------footer-----------*/

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    padding: 10px;
    display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom: 1.2rem;
}

footer .logo{
     margin-bottom: 1.8rem;
}

footer h4{
    font-size: 1rem;
    padding-bottom: 1.2rem;
}

footer p{
    font-size: 0.8;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 0.8;
    text-decoration: none;
    color: rgb(80, 80, 80);
    margin: 0 0 8px 0;
}

footer .follow{
    margin-top: 1.2rem;
}

footer .follow i{
    color: #092f2d;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    width: 50%;
    padding: 0px;
    border: 1px solid #088178;
    border-radius: 7px;
}

footer .install img{
    margin: 10px 0 1rem 0;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

@media (max-width:799px){

    .section-p1 {
        padding: 2.5rem;
    }    
    
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgb(0, 0, 0.1);
        padding: 80px 0 0 14px;
        transition: 0.5s;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 1.5rem;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #222;
        padding-left: 1.2rem;
        font-size: 1.3rem;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 32px;
        color: #061211;
        font-size: 1.3rem;
    }

    #lg-bag{
        display: none;
    }

    #hero{
        height: 70vh;
        background-position: top 30% right 30%;
        padding:  0 5rem;
    }

    #feature {
        justify-content: center;
    
    }

    #feature .ft-box {
        margin: 1rem 1rem;
    }

    #product1 .pro-con {
       justify-content: center;
    }

    #product1 .pro {
        margin: 1rem ;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 {

        padding: 2.5rem 5rem 0;
        margin: 0;
    }

    #banner3 .banner-box {
        width: 20%;
    }

    #newsletter .form {
        width: 70%;
    }

    footer .col{
        padding: 2rem;
    }
}

@media  (max-width:480px) {

    .section-p1 {
        padding: 1.2rem;
    }

    #header {
        padding: 0.8rem 1.8rem;
    }

    #hero {
        background-position: 55%;
        padding: 0 1.2rem;
    }

    p {
        font-size: 1rem;
        color: #28501a;
        margin: 1rem 0 1.2rem 0;
    }

    #feature .ft-box {
        width: 9.6rem;
        margin: 0 0 1rem 0;
    }

    #feature {
        justify-content: space-between;
    }

    #product1 .pro {
        width: 100%;
    }
   
    #banner {
        height: 40vh;
        width: 100%;
    }

    #sm-banner {
      padding: 1.2rem;
    }

    #sm-banner .banner-box {
       margin-top: 1.2rem;
    }

    #banner3 {
        padding: 0 1.2rem;
    }

    #banner3 .banner-box {
      width: 100%;
    }

    #newsletter .form {
        width: 100%;
    }

    #newsletter {
       padding: 2.5rem 1.2rem;
    }
}